@import url('https://fonts.cdnfonts.com/css/product-sans');


@import "tailwindcss";

body, html {
    font-family: 'Product Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}