@import url("https://fonts.cdnfonts.com/css/product-sans");
@import "tailwindcss";

:root {
  --color-neon: #ccff00;
  --color-bg: #000000;
  --color-card: #111111;
  --color-card-hover: #1a1a1a;
  --font-product: "Product Sans", system-ui, -apple-system, sans-serif;
}

@theme {
  --color-neon: var(--color-neon);
  --color-bg: var(--color-bg);
  --color-card: var(--color-card);
  --color-card-hover: var(--color-card-hover);

  --font-product: var(--font-product);
}

body,
html {
  font-family: var(--font-product) !important;
  background-color: var(--color-bg);
  color: white;
  overscroll-behavior-y: none; /* Prevent rubber banding on some mobile browsers */
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
